section #app {
  background-color: #3F7373;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-decoration: wavy;
  display: flex;
  justify-content: center
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-decoration: wavy;
  display: flex;
  justify-content: center
}

h3 {
  justify-content: flex-start;
}

img {
  border-radius: 50%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  display: none;
}

.tab-btn.active {
  background: var (--clr-white);
}

.content.active {
  display: block;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #3ea5b5; 
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #e12222c8;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #3ea5b5;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #3ea5b5;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s;
  /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 2;
  }
}